body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3 {
    font-style: italic;
    text-decoration: underline;   
}
a {
    text-decoration: none;
}

